# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode/settings.json
.vscode/.ropeproject
src/config.ini
*.pyc
src/.vscode/settings.json
src/custompipes.p
src/resource/tweets/dril-model.json
*.vtt
src/pipes/custom_pipes/custompipes.p
src/resource/youtubecaps/caps/HeIkk6Yo0s8.p
src/resource/youtubecaps/caps/McDXSxH3Sx8.p
src/resource/youtubecaps/caps/P6ODTQKhaXk.p
src/resource/youtubecaps/caps/OHxyZaZlaOs.p
src/komidanot.py
src/pipes/macros/source_macros.p
src/pipes/macros/pipe_macros.p
*.v1_backup
*.v2_backup
src/resource/upload/files
src/resource/tweets/derek.json
src/resource/tweets/dril.json
src/resource/tweets/dril.json
src/pipes/macros/events.p
src/resource/variables/variables.json
src/resource/tweets/trump.json
