bs4==0.0.1
CurrencyConverter==0.17.7
discord.py==2.6.2
emoji==2.2.0
fuzzywuzzy==0.18.0
google-api-core==2.11.0
google-auth==2.17.3
google-cloud-core==2.3.2
google-cloud-translate==3.11.1
googleapis-common-protos==1.59.0
grpcio==1.54.0
grpcio-status==1.54.0
lru-dict==1.1.8
markovify==0.9.4
mediawikiapi==1.2
nltk==3.8.1
num2words==0.5.13
numpy==1.24.3
openai==0.27.8
Pint==0.22
pyparsing==3.1.1
python-datamuse==2.0.1
python-Levenshtein==0.21.0
python-weather==1.1.0
simpleeval==0.9.13
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
unicodedata2==15.0.0
webvtt-py==0.4.6
youtube-dl==2021.12.17
