discord
pyparsing
webvtt-py
youtube_dl
python-Levenshtein
bs4
fuzzywuzzy
markovify
emoji
unicodedata2
numpy
lru-dict
nltk
simpleeval
spacy
python-datamuse
google-cloud-translate
openai
CurrencyConverter
mediawikiapi
pint
num2words
